@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #ffab03;
    --azul-degrade: linear-gradient(97.54deg, #fc7f03 35.49%, #fc3903 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
}
